
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background: hsl(0, 0%, 7%);
    color: white;
    height: 100vh;
    align-items: center; 
    margin: auto;
    margin-top: 30%;
}
.box{
    justify-content: center;
    /* align-items: center; */
    display: grid;
    margin: auto;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
}
.box  div{
    padding: 4em;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.on{
    background-color: orangered;
    grid-area: a;
    
}
.tw{
    background: orange;
    grid-area: b;
}
.thre{
    background: lawngreen;
    grid-area: c;
}
.fou{
    background:rgb(3, 90, 3);
    grid-area: d;
    
}
.fiv{
    background: rgb(106, 106, 245);
    grid-area: e;
}