* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(0, 0%, 95%);
}
.box {
  width: 1440px;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: auto;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  flex-direction: row;
}
.box .first-box{
    background-color: hsl(31, 77%, 52%);
    padding: 5em;
    height: 500px;
    width: 350px;
}
.box .second-box{
    background-color: hsl(184, 100%, 22%);
    width: 350px;
    padding: 5em;
    height: 500px;
    
}
.box .third-box{
    background-color: hsl(179, 100%, 13%);
    width: 350px;
    padding: 5em;
    height: 500px;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
}
.first-box button {
  color: hsl(31, 77%, 52%);
  font-family: "Lexend Deca", sans-serif;
}
.second-box button {
  color: hsl(184, 100%, 22%);
  font-family: "Lexend Deca", sans-serif;
}
.third-box button {
  color: hsl(179, 100%, 13%);
  font-family: "Lexend Deca", sans-serif;
}
button {
  border: 1px solid hsl(0, 0%, 95%);
  margin-top: 30%;
  height: 30px;
  width: 120px;
  border-radius: 20px;
  cursor: pointer;
}
h2 {
  color: hsl(0, 0%, 95%);
  margin-bottom: 20px;
  font-family: "Lexend Deca", sans-serif;
}
